.custom-font {
    font-family: superclarendon, serif;
    font-weight: 400;
    font-style: normal;
}

body {
    /* background-color: #67A0B9; */
    background-color: #3e6576; /* 5:1 WCAG */
    /* background-color: #365765; */ /* 6:1 WCAG */
}

.text-custom {
    color: #F2E2B2;
}

.bg-custom-text {
    background-color: #F2E2B2;
}

.text-custom-bg {
    color: #3e6576;
}

input[type="checkbox"] {
    appearance: none; /* Remove default checkbox styles */
    width: 1.5rem;
    height: 1.5rem;
    background-color: #ffffff; /* Background color of the checkbox */
    border-radius: 0.5rem; /* Rounded corners */
    border: 2px solid #3e6576; /* Border color */
    outline: none; /* Remove black outline */
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

input[type="checkbox"]:checked {
    background-color: #3e6576; /* Background when checked */
    border-color: #F2E2B2; /* Border when checked */
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="checkbox"]:checked::after {
    content: "✔"; /* Add a checkmark */
    font-size: 1rem;
    color: #F2E2B2; /* Checkmark color */
}

.relative {
    position: relative; /* Ensures absolute positioning works within the container */
}

button.absolute {
    position: absolute;
    right: 0.75rem; /* Adjust to match your design */
    top: 67%;
    transform: translateY(-50%);
    z-index: 10;
    background: none; /* Ensure no background blocks visibility */
    border: none; /* Remove default button styles */
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem !important; /* Add spacing below the logo */
}

.logo {
    width: 30%; 
    height: auto; 
    object-fit: cover; /* Crop the image to fit */
    object-position: center; /* Focus on the center of the image */
}

